.exception-message {
    @apply font-semibold;
    @apply leading-tight;
    @apply break-words;
    @apply overflow-hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.exception-message-full {
    -webkit-line-clamp: unset;
}
